# Image Files
*.img

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.bin
*.sys
*.boot
*.vhd
*.map

# ViM things
*.swp

# BOCHS
bochsout.txt

# Directories
build/
obj/

# C Dependency files
*.d

# Tags
tags

kernel/noxrust/target/
